---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-coredns
  namespace: kube-system
spec:
  valuesContent: |-
    servers:
      - zones:
          - zone: .
            use_tcp: true
        port: 53
        plugins:
          - name: errors

          - name: health
            configBlock: |-
              lameduck 10s

          - name: ready

          - name: kubernetes
            parameters: in-addr.arpa ip6.arpa
            configBlock: |-
              pods insecure
              fallthrough in-addr.arpa ip6.arpa
              ttl 30

          - name: prometheus
            parameters: 0.0.0.0:9153

          - name: forward
            parameters: . 1.1.1.1 9.9.9.9

          - name: cache
            parameters: 30

          - name: loop

          - name: reload

          - name: loadbalance

      - zones:
          - zone: lab.barouconsulting.nl
            use_tcp: true
        port: 53
        plugins:
          - name: errors

          - name: forward
            parameters: . 192.168.178.106

          - name: cache
            parameters: 30
